<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            @Html.Partial("_SideBar")
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <i class="fa fa-pie-chart" style="font-size:100px;"></i>
                    <h4>Ledger</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <i class="fa fa-area-chart" style="font-size:100px;"></i>
                    <h4>Trila Balance</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <i class="fa fa-bar-chart" style="font-size:100px;"></i>
                    <h4>Income Statement</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <i class="fa fa-line-chart" style="font-size:100px;"></i>
                    <h4>Balance Sheet</h4>
                </div>
            </div>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <i class="fa fa-edit" style="font-size:100px;"></i>
                    <h4>Journal</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <i class="fa fa-edit" style="font-size:100px;"></i>
                    <h4>Account Head</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <i class="fa fa-edit" style="font-size:100px;"></i>
                    <h4>Report Head</h4>
                </div>
            </div>
        </div>
    </div>
</div>

